*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-color: orange;

}
.big_box{
    position: relative;
    display: flex;
    height: 400px;
    width: 750px;
    background-color: white;

}
.box1{
    width: 35%;
    height: 100%;
    background-color: rgb(230, 227, 227);
    
    overflow-y: scroll;
    
}

::-webkit-scrollbar{
    width: 6px;
    height: 10px;
}
 ::-webkit-scrollbar-track{ background-color:rgb(230, 227, 227) ; box-shadow:inset 0px 0px 1px rgb(230, 227, 227) ; border-radius:10px ; 
    
    -webkit-border-radius:10px ; -moz-border-radius:10px ; -ms-border-radius:10px ; -o-border-radius:10px ;
}
 ::-webkit-scrollbar-thumb{ background-color: gray; border-radius:10px ; -webkit-border-radius:10px ; -moz-border-radius:10px ; -ms-border-radius:10px ; -o-border-radius:10px ;
}
.Sarlavha1{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-size: 18px;
}
.Sarlavha1 h2:nth-child(1){
font-weight: 500;
}
.Sarlavha1 h2:nth-child(2){
    font-weight: 600;
    }
.width1{
    width: 80%;
    margin: 0 auto;
    height: 100%;
}
.card1{
    height: 100px;
    width: 200px;
    background-color: white;
    position: relative;
    margin: 30px 0px;
    box-shadow: 0px 0px 1px gray;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.card1:hover{
border: solid 1px aqua;
box-sizing: inherit;
}
.wids{
    width: 85%;
    margin: 0 auto;
}
.gray{
    color: gray;
    position: relative;
    top: 10px;
}
.thru{
    position: relative;
    top: -4px;
    font-size: 14px;
}
.card2{
    height: 100px;
    width: 200px;
    background-color: white;
    position: relative;
    margin: 30px 0px;
    box-shadow: 0px 0px 1px gray;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.card2:hover{
    border: solid 1px aqua;
    box-sizing: inherit;
    }
.card3{
    height: 100px;
    width: 200px;
    background-color: white;
    position: relative;
    margin: 30px 0px;
    box-shadow: 0px 0px 1px gray;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.card3:hover{
    border: solid 1px aqua;
    box-sizing: inherit;
    }

.box2{
    width: 65%;
    overflow-y: scroll;
}
.width2{
    width: 85%;
    margin: 30px auto;
}

    .Sarlavha2{
    
        margin: 30px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .Sarlavha2 h2:nth-child(1){
        font-weight: 500;
    }
 .history1{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
.text{
    font-size: 14px;
    position: relative;
    right: 20px;
}
.history1 p{
    font-size: 13px;
}
.history2{
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .history3{
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .history4{
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .history5{
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .history6{
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .history1 h3{
color: blueviolet;
 }
 .history2 h3{
    color: green;
     }
     .history3 h3{
        color: blue;
         }
         .history4 h3{
            color: blueviolet;
             }
             .history5 h3{
                color:blueviolet;
                 }
                 .history6 h3{
                    color: blueviolet;
                     }
